{% extends "base_psychologist.html" %}

{% block title %}Asignacion De Estudiantes{% endblock %}

{% block page-content %}
<div class="row">
  <div class="col-xs-12 p-l-0">
    <h2>Asignar Estudiantes</h2>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-12 p-l-0 p-r-0">
    <form class="form-inline" method="POST">
      {% csrf_token %}
      <label for="group-select" class="col-form-label">Grupo</label>
      <select name="group" id="group-select" class="custom-select m-r-1">
        <option value="None" selected>---------</option>
      {% for gr in user.group_set.all %}
        <option value="{{ gr.id }}">{{ gr.name }}</option>
      {% endfor %}
      </select>
      <label for="student-select" class="col-form-label">Estudiante</label>
      <select name="student" id="student-select" class="custom-select m-r-1">
        <option value="None" selected>---------</option>
      {% for student, group in not_assigned %}
        <option groupid="{{ group.id }}" value="{{ student.id }}" style="display: none;">{{ student.first_name }} {{ student.last_name }}</option>
      {% endfor %}
      </select>
      <button class="btn btn-success" type="submit">Asignar</button>
      <input name="action" value="add" hidden>
    </form>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-12 p-a-0">
    <div class="table-responsive">
      <table id="table-select" class="table">
        <thead>
          <tr>
            <th>Estudiante</th>
            <th>Institución</th>
            <th>Grupo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for t in test.assigntestkolb_set.all %}
          <tr>
            <td>{{ t.student.first_name }}</td>
            <td>{{ t.student.studentgroup_set.first.group.institution.name }}</td>
            <td>{{ t.student.studentgroup_set.first.group.name }}</td>
            <td>
              <form class="form-inline" method="POST">
                {% csrf_token %}
                <input name="action" value="remove" hidden>
                <input name="assignation_id" value="{{ t.id }}" hidden>
                <button class="btn btn-danger" type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
