{% extends "base_student.html"%}

{% block sidebar-content %}
<li>
  <a href="#">A</a>
</li>
<li>
  <a href="#">B</a>
</li>
<li>
  <a href="#">C</a>
</li>
{% endblock %}

{% block page-content %}
<div class="row">
  <form class="col-xs">
    {% csrf_token %}
    <div class="form-group row flex-items-md-middle">
      <label for="id-type-input" class="col-md-3 col-form-label">Tipo de identificación</label>
      <div class="col-md-9">
        <select name="tipo_documento" class="custom-select w-100">
          <option value="TI">Tarjeta de Identidad</option>
          <option value="CC" selected>Cédula de Ciudadanía</option>
          <option value="CE">Cédula de Extranjería</option>
        </select>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="id-number-input" class="col-md-3 col-form-label">Número de identificación</label>
      <div class="col-md-9">
        <input name="Nro_dodocumento" type="text" id="input_no_documento" class="form-control" placeholder="Número Documento" required>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="name-input" class="col-md-3 col-form-label">Nombres</label>
      <div class="col-md-9">
        <input name="primer_nombre" type="text" id="input_nombre" class="form-control" placeholder="Primero" required>
        <input name="segundo_nombre" type="text" id="input_nombre" class="form-control" placeholder="Segundo">
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="lastname-input" class="col-md-3 col-form-label">Apellidos</label>
      <div class="col-md-9">
        <input name="primer_apellido" type="text" id="input_apellido" class="form-control w-50" placeholder="Primero" required>
        <input name="segundo_apellido" type="text" id="input_apellido" class="form-control w-50" placeholder="Segundo">
      </div>
    </div>
    <!--<div class="form-group row flex-items-md-middle">
      <label for="address-input" class="col-md-3 col-form-label">Dirección</label>
      <div class="col-md-9">
        <input name="direccion" type="text" class="form-control" placeholder="Dirección" required>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="phone-input" class="col-md-3 col-form-label">Teléfono</label>
      <div class="col-md-9">
        <input name="telefono" type="tel" class="form-control" placeholder="Teléfono" required>
      </div>
    </div>-->
    <div class="form-group row flex-items-md-middle">
      <label for="email-input" class="col-md-3 col-form-label">Email</label>
      <div class="col-md-9">
        <input name="email" type="email" class="form-control" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="password-input" class="col-md-3 col-form-label">Contraseña</label>
      <div class="col-md-9">
        <input name="contrasena" type="password" class="form-control" placeholder="Contraseña" required>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="password-repeat-input" class="col-md-3 col-form-label">Repetir Contraseña</label>
      <div class="col-md-9">
        <input name="repetir_contrasena" type="password" class="form-control" placeholder="Repetir Contraseña" required>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="group-input" class="col-md-3 col-form-label">Grupo</label>
      <div class="col-md-9">
        <input name="grupo" type="text" class="form-control" placeholder="Grupo" disabled>
      </div>
    </div>
    <div class="form-group row flex-items-md-middle">
      <label for="institucion-input" class="col-md-3 col-form-label">Institución</label>
      <div class="col-md-9">
        <input name="grupo" type="text" class="form-control" placeholder="Institución" disabled>
      </div>
    </div>
    <center>
      <button class="btn btn-lg btn-primary m-t-1" type="submit">Actualizar</button>
    </center>
  </form>
</div>
{% endblock %}
