{% extends "home_base.html"%}
{% load staticfiles i18n %}

{% block js %}<script src="{% static 'js/controlador.js' %}"></script>{% endblock %}

{% block sidebar-content %}
<li>
  <a href="#">Estudiantes</a>
</li>
<li>
  <a href="#">Psicologos</a>
</li>
<li>
  <a href="#">Todo</a>
</li>
{% endblock %}

{% block page-content %}
<div class="row">
  <div class="col-xs-12 p-l-0">
    <h2>Administración</h2>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-6 p-l-0">
    <button class="btn btn-primary" id="create_user">Crear</button>
    <button class="btn btn-warning" id="">Modificar</button>
    <button class="btn btn-danger" id="">Eliminar</button>
  </div>
  <div class="col-xs-6 p-r-0">
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-12">
    <div class="table-responsive table-hover">
      <table id="table-select" class="table">
        <thead>
          <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Status</th>
            <th>Institución</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
