{% extends "home_base.html"%}

{% block sidebar-content %}
<li>
  <a href="#">Estudiantes</a>
</li>
<li>
  <a href="#">Psicologos</a>
</li>
<li>
  <a href="#">Todo</a>
</li>
{% endblock %}

{% block page-content %}
<div class="row">
  <div class="col-xs-12">
    <h2>Administración</h2>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-xs-6">
    <button class="btn btn-primary" type="submit">Crear</button>
    <button class="btn btn-warning" type="submit">Modificar</button>
    <button class="btn btn-danger w-100px" type="submit">Eliminar</button>
  </div>
  <div class="col-xs-6">
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-xs-12">
    <div class="table-responsive table-hover">
      <table class="table">
        <thead>
          <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Status</th>
            <th>Institución</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
