{% extends 'base.html'%}

{% block title %}PTTI - Home{% endblock %}

{% block css %}
<style type="text/css">
body {
    padding-top: 54px;
}
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <button class="navbar-toggler pull-xs-right hidden-sm-up border" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons md-16">menu</i>
  </button>
  <a class="navbar-brand" href="#">PTTI</a>
  <div class="collapse navbar-toggleable-xs align-vertical" id="exCollapsingNavbar">
    <ul class="nav navbar-nav pull-xs-left">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <a class="nav-item nav-link" href="#">Settings</a>
      <a class="nav-item nav-link" href="#">Profile</a>-->
      <a class="nav-item nav-link" href="#menu-toggle" id="menu-toggle">Toggle Menu</button>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <a class="nav-item nav-link" href="/">
        <i class="material-icons md-16 align-vertical">account_circle</i>
        {{ user.username }}
      </a>
      <a class="nav-item nav-link" href="/logout">
        <i class="material-icons md-16 align-vertical">exit_to_app</i>
        Cerrar Sesión
      </a>
    </ul>
  </div>
</nav>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <!--<li class="sidebar-brand">
        <a href="#">
        Start Bootstrap
        </a>
      </li>-->
      {% block sidebar-content %}{% endblock %}
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      {% block page-content %}{% endblock %}
    </div>
  </div>
</div>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
{% endblock %}
