{% extends "base_student.html"%}

{% block page-content %}
<div class="row">
  <div class="col-md-8 p-l-0">
    <div class="row">
      <div class="col-md-12">
        <h2>Estudiante</h2>
      </div>
    </div>
    <div class="row p-t-1">
      <div class="col-xs-6 p-r-0">
        <!--<button class="btn btn-warning" type="submit">Revisar</button>-->
      </div>
      <div class="col-md-6">
        <form class="form-inline pull-xs-right">
          <input class="form-control" type="text" placeholder="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <div class="row p-t-1">
      <div class="col-md-12">
        <div class="table-responsive table-hover">
          <table class="table">
            <thead>
              <tr>
                <th>Test</th>
                <th>Estado</th>
                <th>Resultado</th>
                <th>Diagnostico</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for assigned in user.assigntestkolb_set.all %}
              <tr>
                <td>{{ assigned.test.name }}</td>
                <td>{{ assigned.is_finished|yesno:"Finalizado,No Finalizado" }}</td>
                <td>TODO</td>
                <td>TODO</td>
                <td>
                  {% if assigned.is_finished %}
                  <a href="{% url 'kolb_test_result' assigned.test.id %}" class="btn btn-warning">Ver Resultados</a></br>
                  {% else %}
                  <a href="{% url 'kolb_test_solve' assigned.test.id %}" class="btn btn-success">Solucionar</a></br>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-x-0">
    <div class="card">
      <div class="card-block">
        <h2>Diagnóstico</h2>
        <p id="diagnostic">Lorem ipsum dolor sit amet, lorem mandamus assentior ut mea, at summo detracto scribentur sea, mea officiis repudiandae te. Et reque efficiendi vel. Usu iusto dolor elaboraret at, facer aliquam cum et. Decore accusamus torquatos quo no. Vix liber persius ancillae ne, nullam vivendum philosophia ne pro.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
