{% extends "base_student.html" %}

{% block title %}Solucionar Test de Kolb{% endblock %}

{% block page-content %}
<form class="col-xs" method="POST">
{% csrf_token %}
<div class="row flex-items-md-middle">
  <div class="col-xs">
    <div class="row flex-items-md-middle">
      <div class="col-xs-8 p-l-0">
        <h2>Solucionar Test de Kolb</h2>
      </div>
      <div class="col-xs-4 p-r-1 text-xs-right pull-xs-right">
        <button class="btn btn-success" type="submit">Guardar y Salir</button>
      </div>
    </div>
    <div class="row m-b-1 flex-items-md-middle">
      <div class="col-md-12">
        <label class="font-weight-bold">Nombre</label>
        <p>{{ test.name }}</p>
      </div>
    </div>
    <div class="row flex-items-md-middle">
      <div class="col-md-12">
        <label class="font-weight-bold">Descripción</label>
        <p>{{ test.description }}</p>
      </div>
    </div>
  </div>
</div>
<hr>
{% for question, answer in q_and_a %}
<input name="question_id" value="{{ question.pk }}" hidden></input>
<div class="row flex-items-md-middle">
  <div class="col-md-10">
    <div class="row flex-items-md-middle">
      <div class="col-md-12">
        <label><strong>{{ forloop.counter }}.</strong> {{ question.description }}</label>
      </div>
    </div>
    <div class="p-l-1">
      <div class="row flex-items-md-middle">
        <div class="col-md-12">
          <label class="font-weight-bold font-italic">Opciones</label>
        </div>
      </div>
      <div class="row m-b-1 flex-items-md-middle">
        <div class="col-md-12">
          <ul class="row m-b-0 answer">
            <li class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">{{ question.option1 }}</div>
                <select name="option1" class="col-xs-6 custom-select answer-option" data-selected="{{ answer.option1 }}" data-answer="{{ answer.id }}">
                  <option value="None">-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </li>
            <li class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">{{ question.option2 }}</div>
                <select name="option2" class="col-xs-6 custom-select answer-option" data-selected="{{ answer.option2 }}" data-answer="{{ answer.id }}">
                  <option value="None">-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </li>
            <li class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">{{ question.option3 }}</div>
                <select name="option3" class="col-xs-6 custom-select answer-option" data-selected="{{ answer.option3 }}" data-answer="{{ answer.id }}">
                  <option value="None">-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </li>
            <li class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">{{ question.option4 }}</div>
                <select name="option4" class="col-xs-6 custom-select answer-option" data-selected="{{ answer.option4 }}" data-answer="{{ answer.id }}">
                  <option value="None">-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
{% endfor %}
</form>

<div id="confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="row m-a-2">
        <div class="col-xs text-xs-center">
          <h2>Cuidado</h2>
          <p>¿Está seguro que desea eliminar esta pregunta?, esto eliminara toda respuesta asociada al mismo. Este proceso no se puede revertir</p>
          <a href="javascript:void(0)" class="btn btn-success" data-dismiss="modal">Cancelar</a>
          <a href="javascript:void(0)" class="btn btn-danger" onclick="remove_question()">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
