{% extends "base_admin.html" %}

{% block title %}PTTI - Gestión de Usuarios{% endblock %}

{% block page-content %}
<div class="row">
  <div class="col-xs-12 p-l-0">
    <h2>Gestionar Usuarios</h2>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-4 p-l-0">
    <button id="create-btn" class="btn btn-primary manage-users"  data-toggle="modal" data-target="#user-form">Crear</button>
    <button id="modify-btn" class="btn btn-warning manage-users" data-toggle="modal" data-target="#user-form">Editar</button>
    <button id="remove-btn" class="btn btn-danger manage-users" data-toggle="modal" data-target="#confirm">Eliminar</button>
  </div>
  <div class="col-xs-4 p-x-0">
    <button class="btn btn-success" type="submit">Importar Excel</button>
    <button class="btn btn-success" type="submit">Importar CVS</button>
  </div>
  <div class="col-xs-4 p-r-0">
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-xs-12 p-a-0">
    <div class="table-responsive table-hover">
      <table id="table-select" class="table">
        <thead>
          <tr>
            <th>CC</th>
            <th>Nombres</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Status</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody>
        {% for usr in user_profile %}
          <tr data-pk="{{ usr.id }}"
              data-type-doc="{{ usr.document_type }}"
              data-no-doc="{{ usr.document_number }}"
              data-gender="{{ usr.gender }}"
              data-first-name="{{ usr.first_name }}"
              data-last-name="{{ usr.last_name }}"
              data-born-date="{{ usr.birthdate|date:'d/m/Y' }}"
              data-born-date-alt="{{ usr.birthdate|date:'Y-m-d' }}"
              data-address="{{ usr.address }}"
              data-phone="{{ usr.phone }}"
              data-email="{{ usr.email }}"
              data-password="{{ usr.password }}"
              data-role="{{ usr.role }}"
              data-group="{{ usr.group.pk }}">
            <td>{{ usr.document_number }}</td>
            <td>{{ usr.first_name }} {{ usr.segundo_nombre }}</td>
            <td>{{ usr.last_name }} {{ usr.segundo_apellido }}</td>
            <td>{{ usr.email }}</td>
            <td>{{ usr.is_active }}</td>
            <td>{{ usr.get_role_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="user-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="row m-a-0">
        <form class="col-xs p-a-3" method="POST">
          {% csrf_token %}
          <div class="form-group row flex-items-md-middle">
            <label for="role-input" class="col-md-3 col-form-label">Rol</label>
            <div class="col-md-9">
              <select name="role" id="formd-role" class="custom-select w-100">
                <option value="P" selected>Psicólogo</option>
                <option value="S">Estudiante</option>
              </select>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-type-doc" class="col-md-3 col-form-label">Tipo de identificación</label>
            <div class="col-md-9">
              <select name="document_type" id="formd-type-doc" class="custom-select w-100">
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CC" selected>Cédula de Ciudadanía</option>
                <option value="CE">Cédula de Extranjería</option>
              </select>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-no-doc" class="col-md-3 col-form-label">Número de identificación</label>
            <div class="col-md-9">
              <input name="document_number" type="text" id="formd-no-doc" class="form-control" placeholder="Número Documento" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label class="col-md-3 col-form-label">Nombres</label>
            <div class="col-md-9">
              <input name="first_name" type="text" id="formd-first-name" class="form-control" placeholder="Nombres" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="lastname-input" class="col-md-3 col-form-label">Apellidos</label>
            <div class="col-md-9">
              <input name="last_name" type="text" id="formd-first-surname" class="form-control w-50" placeholder="Apellidos" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="born-date-input" class="col-md-3 col-form-label">Fecha de Nacimiento</label>
            <div class="col-md-9">
              <input id="formd-born-date" type="date" class="form-control" placeholder="DD/MM/YY" required>
            </div>
          </div>
          <input name="birthdate" id="formd-born-date-alt" hidden>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-gender" class="col-md-3 col-form-label">Genero</label>
            <div class="col-md-9">
              <select name="gender" id="formd-gender" class="custom-select w-100">
                <option value="M">Masculino</option>
                <option value="F" selected>Femenino</option>
                <option value="O">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="address-input" class="col-md-3 col-form-label">Dirección</label>
            <div class="col-md-9">
              <input name="address" id="formd-address" type="text" class="form-control" placeholder="Dirección" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="phone-input" class="col-md-3 col-form-label">Teléfono</label>
            <div class="col-md-9">
              <input name="phone" id="formd-phone" type="tel" class="form-control" placeholder="Teléfono" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="email-input" class="col-md-3 col-form-label">Email</label>
            <div class="col-md-9">
              <input name="email" id="formd-email" type="email" class="form-control" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-password" class="col-md-3 col-form-label">Contraseña</label>
            <div class="col-md-9">
              <input name="password" id="formd-password" type="password" class="form-control" placeholder="Contraseña" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-password-repeat" class="col-md-3 col-form-label">Repetir Contraseña</label>
            <div class="col-md-9">
              <input id="formd-password-repeat" name="repetir_password" type="password" class="form-control" placeholder="Repetir Contraseña" required>
            </div>
          </div>
          <div class="form-group row flex-items-md-middle">
            <label for="formd-group" class="col-md-3 col-form-label">Grupo</label>
            <div class="col-md-9">
              <select name="group" id="formd-group" class="custom-select w-100">
                <option value="None" selected>---------</option>
              {% for gr in groups %}
                <option value="{{ gr.id }}">{{ gr.name }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div id="form-alert" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
            <button type="button" id="dismiss-alert">
              <i class="material-icons md-16">close</i>
            </button>
            <div id="error-text" class="font-weight-bold"></div>
          </div>
          <div class="form-group row flex-items-md-middle m-b-0">
            <div class="col-md-12 p-t-1">
              <center>
                <button class="btn btn-lg btn-primary m-r-1" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-lg btn-primary m-l-1 submit-button" type="submit">Submit</button>
              </center>
            </div>
          </div>
          <input id="formd-action" name="action" hidden>
          <input id="formd-id" name="id" hidden>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="row m-a-0">
        <div class="col-xs text-xs-center p-a-2">
          <p>Está seguro que desea eliminar este registro de la base de datos</p>
          <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary remove">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
    $("#formd-born-date").datepicker({
        showAnim: "slideDown",
        dateFormat: "dd/mm/yy",
        altFormat: "yy-mm-dd",
        altField: "#formd-born-date-alt"
    });
});
</script>
{% endblock %}
