{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block css %}
<style type="text/css">
  /*body{
    background-color: black;
  }*/
</style>
{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  <strong>Error: {{ error }}</strong>
</div>
{% endif %}
<div class="row p-t-1">
  <div class="col-xs-8 m-x-auto text-xs-center">
      <h2>Registrarse</h2>
  </div>
</div>
{% if message_error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  <div class="font-weight-bold">Error:</div> {{ message_error }}
</div>
{% endif %}
{% if message_success %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  {{ message_success }}
</div>
{% endif %}
<div class="row">
  <form class="col-xs-8 m-x-auto p-y-1" method="POST">
    {% csrf_token %}
    <div class="card">
      <div class="card-block p-x-3">
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Rol</label>
          <div class="col-md-9">
            <select name="{{ form.role.html_name }}" class="custom-select w-100">
              {% for value, text in form.fields.role.choices %}
                {% if value == "P" or value == "S" %}
                  <option value="{{ value }}"{% if form.fields.role.value == x %} selected{% endif %}>{{ text }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Tipo de identificación</label>
          <div class="col-md-9">
            <select name="{{ form.document_type.html_name }}" class="custom-select w-100">
              {% for value, text in form.fields.document_type.choices %}
                <option value="{{ value }}"{% if form.fields.document_type.value == x %} selected{% endif %}>{{ text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Número de identificación</label>
          <div class="col-md-9">
            <input name="{{ form.document_number.html_name }}" value="{{ form.document_number.value|default_if_none:'' }}" type="text" class="form-control" placeholder="Número Documento" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Nombres</label>
          <div class="col-md-9">
            <input name="{{ form.first_name.html_name }}" value="{{ form.first_name.value|default_if_none:'' }}" type="text" class="form-control" placeholder="Nombres" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Apellidos</label>
          <div class="col-md-9">
            <input name="{{ form.last_name.html_name }}" value="{{ form.last_name.value|default_if_none:'' }}" type="text" class="form-control w-50" placeholder="Apellidos" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Fecha de Nacimiento</label>
          <div class="col-md-9">
            <input id="birthdate" name="{{ form.birthdate.html_name }}" value="{{ form.birthdate.value|default_if_none:'' }}" type="text" class="form-control" placeholder="DD/MM/YY" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Género</label>
          <div class="col-md-9">
            <select name="{{ form.gender.html_name }}" class="custom-select w-100">
            {% for value, text in form.fields.gender.choices %}
              <option value="{{ value }}"{% if form.fields.gender.value == x %} selected{% endif %}>{{ text }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Dirección</label>
          <div class="col-md-9">
            <input name="{{ form.address.html_name }}" value="{{ form.address.value|default_if_none:'' }}" type="text" class="form-control" placeholder="Dirección" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Teléfono</label>
          <div class="col-md-9">
            <input name="{{ form.phone.html_name }}" value="{{ form.phone.value|default_if_none:'' }}" type="tel" class="form-control" placeholder="Teléfono" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Email</label>
          <div class="col-md-9">
            <input name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:'' }}" type="email" class="form-control" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Contraseña</label>
          <div class="col-md-9">
            <input name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" type="password" class="form-control" placeholder="Contraseña" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <label class="col-md-3 col-form-label">Repetir Contraseña</label>
          <div class="col-md-9">
            <input name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" type="password" class="form-control" placeholder="Repetir Contraseña" required>
          </div>
        </div>
        <div class="form-group row flex-items-md-middle">
          <div class="col-md-12 m-x-auto text-xs-center m-t-1">
              <button class="btn btn-lg btn-primary m-r-1" type="submit">Registrarse</button>
              <a class="btn btn-lg btn-primary m-l-1" href="{% url 'login_page' %}">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
$(function() {
    $("#birthdate").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        showAnim: "slideDown",
        yearRange: "-100:+0"
    });
});
</script>
{% endblock %}
