{% extends "base.html" %}

{% block title %}Restore Password{% endblock %}

{% block css %}
<style type="text/css">
  /*body{
    background-color: black;
  }*/
</style>
{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  <strong>Error:</strong> {{ error }}
</div>
{% endif %}
<div class="row flex-items-xs-middle fill_parent">
  <div class="col-xs p-a-0">
    <div class="bg-inverse p-y-3">
      <center class="m-b-1"><h2>Recuperar Contraseña</h2></center>
      <form class="form-signin m-x-auto" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Email</label>
          <input name="password" type="email" id="inputPassword" class="form-control" placeholder="Email" required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Recuperar</button>
      </form>
      <center class="m-t-1"><a href="#">Iniciar sesión</a><center>
    </div>
  </div>
  </div>
</div>
{% endblock %}
