{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}
<style type="text/css">
  /*body{
    background-color: black;
  }*/
</style>
{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
  </button>
  <strong>Error:</strong> {{ error }}
</div>
{% endif %}
<div class="row flex-items-xs-middle fill_parent">
  <div class="col-xs p-a-0">
    <div class="bg-inverse p-y-3">
      <div class="form-group row flex-items-md-middle">
          <label for="role-input" class="col-md-3 col-form-label">Rol</label>
          <div class="col-md-9">
            <select name="rol" class="custom-select">
              <option value="A" selected>Administrador</option>
              <option value="P" selected>Psicólogo</option>
              <option value="E">Estudiante</option>
            </select>
          </div>
        </div>
      <center class="m-b-1"><h2>Ingreso a Pyscology Test</h2></center>
      <form class="form-signin m-x-auto" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputUsername" class="sr-only">Nombre de usuario</label>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Nombre de usuario" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Contraseña</label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contrase&ntilde;a" required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Iniciar</button>
      </form>
      <center class="m-t-1"><a href="#">Olvidé mi contraseña</a></center>
    </div>
  </div>
  </div>
</div>
{% endblock %}
