{% extends 'base.html'%}


{% block css %}
<style type="text/css">
      .container_2{
        margin-top: 50px;
      }
</style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Psychology Test</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión </li></a>          

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container_2">
    {% block container %}
      
    {% endblock %}

    </div><!-- /.container -->
{% endblock %}