{% extends "home_base.html"%}

{% block page-content %}

<div class="row">
  <div class="col-xs">
    <h1>Lorem ipsum dolor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec arcu nisi. Sed dictum felis vitae velit pulvinar, eu dignissim sapien tempus. Donec vel lectus vitae quam blandit pretium et eget sapien. Phasellus laoreet lacus id aliquet dictum. Quisque eu nisl velit. Fusce eu purus eget metus ultricies pellentesque. Suspendisse tellus lorem, iaculis a consectetur eget, suscipit eu dui. Integer suscipit neque sed magna cursus mattis.</p>
    <p>Morbi vulputate mi metus, fermentum faucibus ligula rutrum et. Sed vel tincidunt quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum ac lectus et lobortis. Fusce et tincidunt turpis. Suspendisse commodo imperdiet dolor in molestie. Aliquam erat volutpat. Morbi dictum convallis euismod. Nulla condimentum posuere feugiat. Nulla sit amet velit egestas enim tempus cursus imperdiet nec est.</p>
    <button type="button" class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
  </div>
</div>

{% endblock %}
